<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"><img class="mini-img" src="img/promo/5.png" alt="Delicje"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"><img class="mini-img" src="img/promo/6.png" alt="Delicje"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"><img class="mini-img" src="img/promo/7.png" alt="Delicje"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"><img class="mini-img" src="img/promo/4.png" alt="Delicje"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"><img class="mini-img" src="img/promo/8.png" alt="Delicje"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-label="promo-delicje">
      <img class="d-block w-100" src="img/promo/5.png" alt="Delicje">
      <div class="carousel-caption d-none d-md-block">
        <h5>Delicje 147g</h5>
        <p>2,43 netto, 2,99 z Vat</p>
          <div class="promo-search">DELICJE 147G</div>
      </div>
    </div>
    <div class="carousel-item" data-label="promo-raffaello">
      <img class="d-block w-100" src="img/promo/6.png" alt="Raffaello">
      <div class="carousel-caption d-none d-md-block">
        <h5>Raffaello 150g</h5>
        <p>8,12 netto, 9,99 z Vat</p>
          <div class="promo-search">RAFFAELLO</div>
      </div>
    </div>
    <div class="carousel-item" data-label="promo-hellena">
      <img class="d-block w-100" src="img/promo/7.png" alt="Hellena">
      <div class="carousel-caption d-none d-md-block">
        <h5>Hellena</h5>
        <p>1,62 netto, 1,99 z Vat</p>
          <div class="promo-search">HELLENA</div>
      </div>
    </div>
    <div class="carousel-item" data-label="promo-bueno">
      <div class="carousel-item-content">
        <img class="d-block w-100 carousel-img" src="img/promo/4.png" alt="Kinder bueno">
        <div class="carousel-caption d-none d-md-block">
          <h5>Kinder bueno</h5>
          <p>1,94 netto, 2,39zl z Vat</p>
          <div class="promo-search">BUENO</div>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-label="promo-tchibo-family">
      <div class="carousel-item-content">
        <img class="d-block w-100 carousel-img" src="img/promo/8.png" alt="Thibo Family">
        <div class="carousel-caption d-none d-md-block">
          <h5>Thibo Family 250g</h5>
          <p>21,95 netto za kg, 27,00 brutto za kg</p>
          <div class="promo-search">TCHIBO FAMILY 250</div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
