a:hover {text-decoration: none !important;}
#map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
#map2 {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
.width200 {
	    width: 200px;
		cursor: pointer;
}
.white{
  background-color:white;
}

.white-text{color:white;}
.asort-title{
  text-decoration: underline;
  text-align: center;
  color: #ffd96b;
}
.opening-hours{
  margin-left: 16px;
  margin-right: -31px;
}
/*|||||||||||GENERATOR|||||||||||||||*/
.card-block{
	-webkit-box-shadow: inset -10px -10px 0px 10px #3081fb;
    -moz-box-shadow: inset -10px -10px 0px 10px #3081fb;
    box-shadow: inset -10px -10px 0px 10px #3081fb;
}
.ad{
	background-color: #d9534f!important;
	color: wheat;
	width: 50%;
    display: block;
	float: left;
	border: 3px solid;
    padding: 1%;
    height: 100%;
}
.genImageBox{
	background-color: #fdd364;/*#eac153;*/
	width: 25%;
	min-height: 275px;
    float: left;
	padding: 20px;
	color: aliceblue;
	text-transform: uppercase;
	font-weight: 700;
    margin-bottom: 5px;
}
.add-next-gen,.save-gen{
    width: 40px;
    height: 40px;
    background: blueviolet;
    color: wheat;
    font-weight: 400;
    font-size: 23px;
    padding-left: 12px;
    cursor: pointer;
}
.save-gen{
	width: 300px;
    float: right;
	margin-top: -40px;
}
.dz-image img{
	width: 100%;
}
.dz-details,.dz-error-message,.dz-success-mark,.dz-error-mark{display: none;}
.input-gen{
	background-color: #eac153;
	border: 0;
	color: aliceblue;
    text-transform: uppercase;
    font-weight: 700;
	border-bottom: 3px dotted red;
}
.circle{
	background-color: #d9534f;
    border-radius: 50%;
    width: 50%;
    min-height: 118px;
	position: relative;
    left: 62%;
    top: 123px;
    z-index: 2;
	border: 5px solid wheat;
	overflow: hidden;
}
.circle-text{
	color: white;
    text-transform: uppercase;
    font-weight: 700;
    top: 37px;
    left: 15%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
}
.naj-oferty-wrapper{
	padding: 19px;
    margin-top: -1px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: #0275d8;
}
.naj-oferty{
	text-align: center;
	text-transform: uppercase;
	color: #ebebef;
  background-color:#3081fb;
}
/*|||||||||||||||||ASORT |||||||||||||||||*/
.loading{
  width:64px;
  height:64px;
  background-image: url("../img/loading.gif");
  display:none;
}
.lista-artykulow-box{
    margin-left: 1px;
    margin-right: 1px;
}
.artykuly{
	text-align: center;
	text-transform: uppercase;
	color: #ebebef;
  background-color:#d9534f;;
}
.search input{
	text-align: center;
	text-transform: uppercase;
	color: #ebebef;
  background-color:#4c90f7;
  border:0;
  background-image: url("../img/glass.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50px 50px;
}
.search{
  font-size: 2rem;
  height: 59px;
}
.c0{height: 0;}
/*|||||||||||||||||BASKET |||||||||||||||||*/
.basket-icon{
  background-color: #3081fb;
  width: 50px;
  height: 59px;
  margin-top: 0px;
  background-image: url("../img/basketdown.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50px 50px;
  float:left;
  cursor:pointer;
}
.basket-icon-up{
  display:none;
  background-color: #3081fb;
  width: 50px;
  height: 59px;
  margin-top: 0px;
  background-image: url("../img/basketup.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50px 50px;
  float:left;
  cursor:pointer;
}
.basketBody{
  display:none;
  /*margin-top: 35px;*/
}
.basket{
  width: 146px;
  height: 59px;
  color:white;
  background-color:#3081fb;
  overflow:hidden;
}
.top-basket{
  line-height:1em;
  width: 146px;
  height: 59px;
  cursor:pointer;
  background-color:#3081fb;
  /*float: right;*/
}
.basket-count:before {
    content: "Ilość pozycji: ";
}
.basket-sum:after {
    content: "zł";
}
.basket-sum:before {
    content: "Suma: ";
}
.basket-expand {
}
.basket-colapse{
  display:none;
}
.button-art-basket{
    cursor: pointer;
    color: white;
    background-color: #3081fb;;
    text-align: center;
    font-weight: 700;
    width: 12px;
    height: 12px;
    margin-top: 6px;
    line-height: 8px;
}
.basket-billing-box{
  padding-left: 6px;
  padding-right: 6px;
  background-color: #4c90f7;
}
.basket-clear{
  cursor: pointer;
  background-color: #d9534f;
}
.basket-send{
  cursor: pointer;
  background-color: #64a064;
}
/*|||||||||||||||||FILTER|||||||||||||||||*/
.filter-row{
  text-align: center;
	text-transform: uppercase;
	/*color: #ebebef;*/
  display:none;
}
.filter{
  color:white;
  font-weight: 600;
}
.filter,.filter-items{
  margin: 0px 1px 0px 1px;
  background-color:#3081fb;
}
/*|||||||||||||||||TABLE |||||||||||||||||*/
.progress{display:none;}
.td-add{width: 55px;}
td{white-space: nowrap;}
.table-art{width:100%;}
.button-art{
    cursor: pointer;
    color: white;
    background-color: #3081fb;
    text-align: center;
    font-weight: 700;
    width: 12px;
    height: 12px;
    margin-top: 6px;
    line-height: 8px;
}
.more-art-button{
  display:block;
}
.rotate {

  /* Safari */
  -webkit-transform: rotate(-3deg);
  /* Firefox */
  -moz-transform: rotate(-3deg);
  /* IE */
  -ms-transform: rotate(-3deg);
  /* Opera */
  -o-transform: rotate(-3deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.header-art{
  text-transform: uppercase;
    color: #ebebef;
    background-color: #3081fb;
}
.alertStart{
    position: fixed;
    width: 512px;
    top: 50%;
    left: 50%;
    margin-left: -256px;
    margin-top: -170px;
    display: none;
    margin-right: auto;
}
.alertStart .card-block {padding-right: 20px;}
.checkout-box{
    position: fixed;
    width: 512px;
    top: 50%;
    left: 50%;
    margin-left: -256px;
    display: none;
    margin-right: auto;
}
.checkout-box .card-block {padding-right: 20px;}
.success-icon{
    visibility: hidden;
    display: inline-block;
    width: 25px;
    height: 16px;
    margin-top: -7px;
    margin-bottom: -2px;
    margin-right: -6px;
    margin-left: -1px;
    background-image: url(../img/success.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 25px 25px;

}
.pager-progress{
  margin-top: 5px;
}
.pager-progress-bar{
  min-width:132px;
}
/*|||||||||||||||||||PROMO|||||||||||||||||||*/
.promo-search{display:none;}
.carousel-item{cursor:pointer;}
.mini-img{
  width:120px;
  border: 2px solid #83adf7;
  display: block;
  cursor: pointer;
}
/*|||||||||||||||||||RESPONSIVITY|||||||||||||||||||*/
@media screen and (max-width: 1200px) {
    .genImageBox{
		  width: 33%;
    	margin-left: 2px;
	}
}
@media screen and (max-width: 992px) {
    .genImageBox{
		  width: 49%;
    	margin-left: 3px;
	}
  .table-art{font-size:12px;}

  .button-art,.button-art-basket{
    margin-top: 3px;
  }
}
@media screen and (max-width: 768px) {
  .ad{
	  width: 100%;
    height: auto;
  }
  .table-art{font-size:10px;}
  .td-add{width: 41px;    margin-top: 0px;}
  .button-art,.button-art-basket{
    width: 10px;
    height: 10px;
    margin-top: 0px;
    line-height: 8px;
  }
  .basket{
    font-size:12px;
  }
  .search input{text-align: left;}
  .opening-hours{
  margin-left: 0px;
  margin-right: 0px;
}
}
@media screen and (max-width: 512px) {
    .genImageBox{
		  width: 100%;
    	margin-left: 0px;
	}
  .table-art{font-size:8px;}
  .basket{font-size:8px;}
   .grampol,.display-1 {
		font-size:4rem;
	}
	.width200 {
		width: auto;
	}
	.img-fluid {
		display:none;
	}
  .search input{
    position: relative;
    top: -48px;
  }
}

@media screen and (max-width: 412px) {
    .genImageBox{
		  width: 100%;
    	margin-left: 0px;
	}
  .table-art{font-size:7px;}
  .search{height: 110px;}
  .basket{font-size:8px;}
  .search input{
    top: 11px;
    position: relative;
    width: 100%;
  }
  .alertStart,.checkout-box{
    width: 421px;
    margin-left: -204px;
  }
  .alert-copy{
    padding: 0px 14px 0px 0px;
    margin: 0px 4px 0px 4px;
  }
  .checkout-clear{font-size:.8rem;}
}
